.navbar-header {
width: 100%;
}
.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

.user-menu a {
    color: #0b9b9c;
}

.user-menu a:hover, .user-menu a:focus {
    text-decoration: none;
}
.sidebar {
    display: block;
    background-color: #34495e;
    padding: 0;
    display: none;
}
.side-menu-item{
    width:100%;
    color:#ffffff;
    height: 50px;
    line-height: 50px;
    padding-left:10px;
}
.side-menu-item a {
    color: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: rgba(238, 238, 238, 0);
    text-decoration: none;
}

.subMenu{
    list-style: none;
}
.subMenu li{
    width:100%;
    color:#ffffff;
    height: 50px;
    line-height: 50px;
    padding-left:10px;
}
@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(43, 43, 43, 0.81);;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
    }

}