.navbar-default{
    border-color: rgba(0,0,0,.0001);
    background-color: #1fa67a;
    box-shadow: 0px 1px 7px #000;
}
.navbar-default .navbar-header .navbar-brand strong{
    font-size: 20px;
    color:#ffffff;
    font-family: Helvetica, sans-serif;
}
.navbar-default .navbar-nav li a{
    color:#000000;
}
.navbar-default .navbar-nav li a:hover{
    color: #0f0f0f;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: rgba(255,255,255,.15);
}

.Gy-icon-left{
    margin-right: 10px;
}
.Gy-blur{
    opacity:0.9;
}
.Gy-box{
    padding-top:20px;
    background-color: #eeeeee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.Gy-paragraph-separator{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #999;
}
.Gy-paragraph-separator::before{
    left:0;
    display: block;
    position: absolute;
    top: 32px;
    width: 44%;
    content: "";
    border-top: 1px solid #ededed;
}
.Gy-paragraph-separator::after{
    right: 0;
    display: block;
    position: absolute;
    top: 32px;
    width: 44%;
    content: "";
    border-top: 1px solid #ededed;
}
.Gy-blocks-group {
}
.Gy-blocks-item{
    height:75px;
    line-height:75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("http://img.hb.aicdn.com/3922dc8a00b56bde008235ca618f21e02d2cc0eb28756-kKzIMU_sq236bl4");
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.Gy-blocks-item a{
    text-decoration: none;
}
.Gy-block-title{
    text-align: center;
    font-size: 20px;
    color:#ffffff;
    height:75px;
    font-weight:bolder;
    cursor: pointer;
}

footer{
    height:400px;
    padding-top:50px;
    margin-top: 50px;
    background-color: #1fa67a;
}
footer ul{
    width:400px;
    height:65px;
    list-style: none;
    margin:0 auto;
}
footer ul li{
    float: left;
    margin-left: 20px;
    font-size:40px;
    list-style: none;
}

.form-group{
    position: relative;
}
.input-error{
    border:1px solid red;
}
.input-success{
    border:1px solid green;
}
.checked{
    position: absolute;
    top:35px;
    right:14px;
}
.unchecked{
    position: absolute;
    top:35px;
    right:15px;
}