.navbar-header {
width: 100%;
}
.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

.user-menu a {
    color: #0b9b9c;
}

.user-menu a:hover, .user-menu a:focus {
    text-decoration: none;
}
.sidebar {
    display: block;
    background-color: #2e3e4e;
    overflow: hidden;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
}
.sub-menu-img{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left:10px;
    border-bottom: 1px solid #9d9d9d;
}
.user-pic-size{
    width:50px;
    height:50px;
    margin-left:15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.side-menu-item{
    width:100%;
    color:#ffffff;
    height: 40px;
    padding-left:10px;
}
.side-menu-item a {
    color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.nav>li:focus, .nav>li:hover{
    background-color: #283644;
    text-decoration: none;
}

.subMenu{
    list-style: none;
    background-color: #283644;
}
.subMenu li{
    width:100%;
    color:#ffffff;
    height: 40px;
    line-height: 40px;
    padding-left:10px;
}
.padding-right_15{
    padding-right: 10px;
}
.sub-menu-item-caret{
    float:right;
    margin-right: 15px;
}
.content{
     margin-left: 290px;
     margin-top:-10px
 }
@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #2e3e4e;
        overflow: hidden;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
    }
}

