[project]
	description = bootstrap+angular
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BackEnd (alexandsnow)
[access "refs/for/refs/*"]
	read = group user/BackEnd (alexandsnow)
	push = group user/BackEnd (alexandsnow)
	label-Code-Review = -2..+2 group user/BackEnd (alexandsnow)
	label-Verified = -1..+1 group user/BackEnd (alexandsnow)
	rebase = group user/BackEnd (alexandsnow)
	removeReviewer = group user/BackEnd (alexandsnow)
	submit = group user/BackEnd (alexandsnow)
[access "refs/heads/*"]
	read = group user/BackEnd (alexandsnow)
	create = group user/BackEnd (alexandsnow)
	push = +force group user/BackEnd (alexandsnow)
	pushMerge = group user/BackEnd (alexandsnow)
[access "refs/tags/*"]
	push = group user/BackEnd (alexandsnow)
	push = +force group user/BackEnd (alexandsnow)
