<!--footer start-->
<div class="container-fluid">
    <div class="row">
        <footer>
            <ul>
                <li><i class="fa fa-github"></i></li>
                <li><i class="fa fa-chrome"></i></li>
                <li><i class="fa fa-facebook-official"></i></li>
                <li><i class="fa fa-yahoo"></i></li>
                <li><i class="fa fa-twitter-square"></i></li>
            </ul>

            <h6 class="text-center">gaoyang_dev@outlook.com</h6>
        </footer>
    </div>
</div>

<!--footer end-->