<div class="banner">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">DashBoard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group text-center">
                <input type="text" class="form-control" placeholder="搜索你想要的">
                <a href="" class="go"></a>
            </div>
        </div>
    </div>

</div>

<div class="row" style="margin-top: 15px">
    <div class="col-xs-3 col-xs-offset-2"><hr style="margin-left: 20px"></div>
    <div class="col-xs-2 text-center"> <p>Major Module</p></div>
    <div class="col-xs-3 "> <hr style="margin-right: 20px"></div>

</div>
