<div class="container-fluid">

    <!--banner start-->
    <div class="row">
        <div class="col-xs-12 banner">
            <div class="row">
                <h2 class="text-center">You do what you can do</h2>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
                    <div class="form-group text-center">
                        <input type="text" class="form-control" placeholder="搜索你想要的">
                        <a href="" class="go"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->

    <!--page wrapper start-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <!--separator start-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="Gy-paragraph-separator">
                        Modules
                    </div>
                </div>

            </div>
            <!--separator end-->

            <!--four parts module start-->
            <div class="row Gy-blocks-group">
                <div class="col-xs-12 col-md-3">
                    <div class="Gy-blocks-item">
                        <a ui-sref="bootstrap">
                            <div class="Gy-block-title">
                                BootStrap
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="Gy-blocks-item">
                        <a ui-sref="angular">
                            <div class="Gy-block-title">
                                Angular
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="Gy-blocks-item">
                        <a ui-sref="springboot">
                            <div class="Gy-block-title">
                                Spring Boot
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="Gy-blocks-item">
                        <div class="Gy-block-title">
                            Android
                        </div>
                    </div>
                </div>
            </div>
            <!--four parts module end-->

            <div data-ui-view></div>
        </div>
    </div>
    <!--page wrapper end-->

</div>



