<div class="container-fluid">
    <!--header start-->
    <div class="row">
        <div class="col-xs-12 text-center login-title">
            <i class="fa fa-heartbeat "></i>
        </div>
    </div>
    <!--header end-->

    <div class="row">
        <!--left content start-->
        <div class="col-md-3 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <h2><strong>Alex</strong> <i class="fa fa-circle-o-notch"></i> <strong>Snow</strong></h2>
            <br>
            <code> &lt;/Gy-Blog&gt;</code>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="text-muted">
                        Alex and Snow is just to record what we have done and some skills of developing the website and
                        backend!
                    </h5>
                    <br>
                    <ul>
                        <li>You cannot improve your past, but you can improve your future. Once time is wasted, life is
                            wasted.
                        </li>
                        <li>Whatever is worth doing is worth doing well.</li>
                        <li>Keep on going never give up.</li>
                        <li>Never forget to say “thanks”.</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
        <!--left content end-->

        <!--right content start-->
        <!-- form start-->
        <div class="col-md-3 col-md-offset-1 col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <a class="col-xs-6 text-center">Sign in</a>
                                <a class="col-xs-6 text-center">Contact me</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!--sign in-->
                            <form ng-controller="loginCtrl">
                                <div class="form-group">
                                    <label class="col-xs-2">Email</label>
                                    <input type="email" class="form-control" ng-model="user.email">
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2">Password</label>
                                    <input type="password" class="form-control" ng-model="user.password">
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-6 text-left">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a href="#">Forget your password ?</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success col-xs-12" ng-click="login()">sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label> if you do not have an account . please give me an email </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">Sign in with</div>
                                <div class="col-xs-2 text-left Gy-icon-size text-primary"><i class="fa fa-chrome"></i></div>
                                <div class="col-xs-2 text-left Gy-icon-size"><i class="fa fa-github"></i></div>
                                <div class="col-xs-2 text-left Gy-icon-size text-success"><i class="fa fa-gitlab"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--footer start-->

    <div class="footer text-center text-primary">
        <ul class="list-inline">
            <li><a href="https://github.com/alexandsnow/">github</a></li>
            <li><a href="https://github.com/alexandsnow/">gitlab</a></li>
            <li><a href="http://blog.csdn.net/u010236169">csdn</a></li>
        </ul>
    </div>

    <!--footer end-->
</div>