<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- small size page header content-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#largeSizeHeader"
                    aria-expanded="false">
                <span class="sr-only">Alex</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ui-sref="bootstrap">
                <strong style="margin-left: 5px">Alex</strong> <i class="fa fa-circle-o-notch"></i> <strong>Snow</strong>
            </a>
        </div>

        <!-- large size page header content-->
        <div class="collapse navbar-collapse" id="largeSizeHeader">
            <ul class="nav navbar-nav">
                <li><a ui-sref="bootstrap">BootStrap<span class="sr-only">(current)</span></a></li>
                <li><a ui-sref="angular">Angular<span class="sr-only">(current)</span></a></li>
                <li><a ui-sref="springboot">Spring Boot<span class="sr-only">(current)</span></a></li>

                <!-- founder ui element start-->
                <li class="dropdown">
                    <a href="#" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Gy-Directive
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Click-Label</a></li>
                        <li><a href="">Alert-Input</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="">Loading...</a></li>
                    </ul>
                </li>
                <!-- founder ui element end-->

                <!-- self design directive start-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Interactive<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Form validate</a></li>
                        <li><a href="#">File upload</a></li>
                        <li><a href="#">Code Pretty</a></li>
                        <li><a ui-sref="echarts">Echarts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">DownLoad</a></li>
                    </ul>
                </li>
                <!-- self design directive end-->
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">alexandsnow<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li class="text-center"><img class="img-circle"
                                                     src="https://avatars2.githubusercontent.com/u/16744991?v=3&amp;s=60"
                                                     width="50" height="50"></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-user-circle-o Gy-icon-left"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear Gy-icon-left"></i>Setting</a></li>
                        <!--<li class="divider" role="separator"></li>-->
                        <li><a href="#" ng-click="signOut()"><i class="fa fa-sign-out Gy-icon-left"></i>Sign out</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>